* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --color-font: #f0f0f0;
    --color-background: #191e20;
    --color-over: #131618;
    --color-hover: #3b4347;
}

html {
    width: 100%;
    height: 100%;
}

header {
}

ul{
    list-style: none;
}

.head{
    margin-top: 1rem;
}

#logo_box {
    float: left;
    cursor: pointer;
    margin: 0 1rem 1rem 1rem;
}