@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --color-font: #213319;
  --color-primary-1: #a5d3a1;
  --color-primary-2: #04aa6d;
  --color-primary-3: #18805a;
  --color-secondary-1: #a343a3;
  --color-secondary-2: #5b2363;
  --transition-1: ease-in-out 0.1s;
  --transition-2: ease-in-out 0.2s;
  --transition-3: ease-in-out 0.3s;
  --transition-4: ease-in-out 0.4s;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-1);
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-primary-1);
  font-size: 1rem;
  font-family: "Montserrat";
  background-image: url("../images/patron.png");
  background-repeat: repeat-y;
  background-size: cover;
}

header {
  font-size: 1.2rem;
  padding: 1.5rem 0 1rem 0;
  background-image: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: var(--color-font);
  text-decoration: none;
}

footer {
  margin-top: 2rem;
  padding: 2.3rem;
  background-color: var(--color-secondary-2);
}

footer section {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 2.1rem;
  margin: 1rem;
}

footer span a {
  padding: 0.2rem 0.5rem;
  color: white;
}

footer span a i:hover {
  transform: scale(1.2);
  transition: var(--transition-2);
}

ul {
  gap: 2rem;
}

li {
  list-style: none;
}

li a {
  color: white;
}

li a:hover {
  color: var(--color-primary-2);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 8%;
}

.nav {
  margin-bottom: 1rem;
  background-color: var(--color-secondary-2);
}

.nav-link {
  font-weight: 600;
  color: white;
}

.nav-link:hover {
  color: var(--color-primary-1);
  background-color: var(--color-secondary-1);
  transition: var(--transition-4);
}

.input-group {
  width: auto;
}

.input-group input {
  outline: none;
  border: none;
  border-radius: 10px;
  text-indent: 7px;
  width: 22rem;
}

.input-group input:focus {
  outline: 2px solid var(--color-secondary-1);
  transition: var(--transition-1);
}

.btn {
  color: white;
  background-color: var(--color-primary-2);
}

.btn:hover {
  color: var(--color-primary-1);
  background-color: var(--color-secondary-1);
}

.box {
  cursor: pointer;
}

.box i {
  padding: 0.7rem;
  margin: 0.3rem;
}

.box i:hover {
  color: var(--color-primary-1);
  background-color: var(--color-secondary-1);
  border-radius: 7px;
  transition: var(--transition-2);
}

.carousel-item img {
  border-radius: 30px;
  width: 80%;
  margin-left: 10%;
}

.modal-footer #register:hover {
  color: var(--color-primary-2);
  cursor: pointer;
}

.btn-close:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: 1px solid var(--color-primary-2);
}

.modal-footer .btn:hover {
  color: white;
}

.btn-wsp {
  background-color: var(--color-primary-2);
  font-size: 2.1rem;
  position: fixed;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.btn-wsp:hover {
  transform: scale(1.1);
  transition: var(--transition-2);
  outline: 1px solid white;
  cursor: pointer;
}

.btn-wsp a {
  color: white;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.04);
  transition: var(--transition-3);
}

.price button {
 margin-left: 1rem;
}

.price button:hover {
  color: white;
}

.price p {
  margin-bottom: 0;
}

#logo {
  width: 4rem;
}

#titulo-productos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  background-color: var(--color-secondary-2);
  color: white;
  padding: 1rem 0;
}
